img{
    height: 240px;
    border: 6px double black;
    padding: 6px;
    transition: 0.2s
}

.right-align{
    float: right;
    margin: 0 20px  6px 12px;
}

.left-align{
    float: left;
    margin: 0 12px 6px 0;
}

p{
    text-align: justify;
    border: 2px solid black;
}

h2{
    text-align: center;
}

.right-align:hover{
    border: 6px double red;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

.left-align:hover{
    border: 6px double blue;
}
body{
    background-image: url("https://img.freepik.com/premium-vector/bamboo-grass-oriental-wallpaper-green-natural-tropical-plant-background-with-bamboo-stems-leaves_515532-544.jpg?w=2000");
    background-size: cover;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(50,84,113,0.3449754901960784) 100%);
}